.input {
  font-size: 20px;
  padding: 7px;
  border-radius: 20px;
  font-weight: bolder;
  border: 2px solid rgb(151, 191, 15);
}

.input::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.input:focus {
  background-color: transparent;
  font-weight: bolder;
  outline: none;
}

.input[type=text] {
  width: 200px;
  transition: ease-in-out, width 0.35s ease-in-out;
  text-align: center;
}

.input[type=email] {
  width: 200px;
  transition: ease-in-out, width 0.35s ease-in-out;
  text-align: center;
}

.input[type=password] {
  width: 200px;
  transition: ease-in-out, width 0.35s ease-in-out;
  text-align: center;
}

.input[type=text]:focus {
  width: 300px;
}

.input[type=password]:focus {
  width: 300px;
}

.input[type=email]:focus {
  width: 300px;
}
